.stack {
  position: relative;
  display: flex;
  padding-right: 45px;
}

#features .row:nth-child(odd) .stack {
  padding-right: 45px;
}

.screenshot {
  position: relative;
  transition: bottom 250ms;
}

.screenshot:nth-child(3) {
  z-index: 4;
  left: -200%;
}

.screenshot:nth-child(2) {
  z-index: 3;
  left: calc(-100% + 15px);
  bottom: 15px;
}
.screenshot:nth-child(1) {
  z-index: 2;
  left: 30px;
  bottom: 30px;
}

@keyframes shift {
  50% {
    transform: translate(-15px, 15px);
  }
  to {
    transform: translate(0, 0);
  }
}


/*
Commented lines make the animation more flexible
with different numbers of slides
*/
@keyframes fade-out {
  0% {
    /* bottom: 0; */
    opacity: 1;
  }
  100% {
    opacity: 0;
    /* left: calc(-200% - 10px); */
    /* bottom: -30px; */
    scale: 1.05;
  }
}

@keyframes fade-in {
  0% {
    bottom: 45px;
    left: 45px;
    opacity: 0;
    scale: 0.95;
  }
  100% {
    opacity: 1;
    left: 30px;
    bottom: 30px;
    scale: 1.0;
  }
}