@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


body {
    background-color: #222;
}

.navbar, footer {
    background: linear-gradient(-95deg, #1a9fff, #946beb);
    font-family: "Source Sans 3";
}

footer {
    color: white;
}

.navbar .dropdown-menu {
    background-color: #222;
}

/* .btn-dark {
    background-color: #111;
} */

.btn {
    font-family: "Source Sans 3", sans-serif; 
    background-color: #111;
}

.btn:hover, button {
    background-color: #222;
    border: 1px white solid;
}

.jumbotron, .card-header {
    color: white;
    border: 1px white solid;
    font-family: "Source Sans 3", sans-serif;
}

.my-gradient {
    background: linear-gradient(0deg, #1a9fff, #946beb);
}

.jumbotron h1 {
    font-family: "Nunito Sans", sans-serif;
}

.jumbotron p>a, footer a {
    color: #222;
}

.jumbotron p>a:hover, footer a:hover{
    color: white;
}

.card-header {
    background: #946beb;
}